/* span{
    color: purple;
    padding: 25px;
    border: 10px solid pink ;
    margin: 10px solid black;
} */

/* body{
    background-color: lightblue;
    background-image: url('https://www.w3schools.com/css/img_lights.jpg');
} */
/* 
types to use color in CSS
1. color name
2. Hexadecimal
3. RGB


*/